<% provide(:title, @article.title) %>
<nav class="center-align">
  <div class="nav-wrapper">
    <div class="deep-orange col s12">
      <a href="/categories" class="breadcrumb">Categories</a>
      <a href="/categories/<%= @article.category.id %>" class="breadcrumb"><%= @article.category.title %></a>
      <a class="breadcrumb"><%= @article.title %></a>
    </div>
  </div>
</nav>
<div class="container">

  <h2><%= @article.format_listing_title %></h2>
  <p class="posted-ago-time"> --posted <%= time_ago_in_words(@article.created_at) %> ago</p>

  <p class="article-description"><%= @article.description %></p>

  <strong>For serious inquiries contact: <%= @article.email %> </strong>

  <p>
    <% if creator? %>
      <%= link_to 'Edit', edit_category_article_path(@article.category, @article) %>  |  <%= link_to 'Delete', category_article_path(@article.category, @article), method: 'delete', data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>


</div>
